.container{
    background-color: bisque;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;

}

.head{
    font-size: 2em;
    font-style: oblique;
    color: honeydew;
    border: 1px solid black;
    text-align: center;
    size: 2em;
    background-color: palevioletred;
    width: 300px;
    height: 40px;
}

.chat{
    width: 130px;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

.chat1{
    background-color: #00f7ff;
    align-self: flex-start;
   
}

.chat2{
    background-color: aliceblue;
    align-self: flex-end;

}

.container2{
    display: flex;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    
  }

#Button{
    background-color: #c300ff;
  color: white;
  padding: 16px 29px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
